---
title: My App - Contacts
layout: base.njk
---

<div class="container">
    hello contacts
	<img
        src="img/fawmop.png"
		alt
		width=400
    />

	<img src="icons/icon1.svg" alt="" width="32">
	<img src="icons/icon2.svg" alt="" width="32">
</div>
