---
title: My App - Homepage
layout: base.njk
---

<div class="container">
    <img
        src="/img/fawmop.png"
		alt
		width=400
    >
test pages on cpanel
	<span class="icon icon_test"></span>
</div>
