---
layout: base.njk
pagination:
  data: possums
  size: 1
  alias: possum
permalink: "possums/{{ possum.name | slugify }}/"
title: My App - {{ possum.name }}
---

{{ possum.name }} is {{ possum.age }} years old
